version: "1"
services:
  - type: web
    name: zea-enterprises
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    headers:
      - path: /*
        headers:
          - key: Cache-Control
            value: public, max-age=31536000
    routes:
      - type: rewrite
        source: /
        destination: /index.html
      - type: rewrite
        source: /*
        destination: /index.html